<!-- Modal EDITAR -->
<div class="modal fade" id="ExperienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="empresa" class="form-label">Empresa</label>
                <input [(ngModel)]="experiencia.empresa" type="text" class="form-control" id="empresa" name="empresa" placeholder="">
              </div>

              <div class="mb-3">
                <label for="inicio" class="form-label">Inicio</label>
                <input [(ngModel)]="experiencia.inicio" type="text" class="form-control" id="inicio" name=inicio placeholder="">
              </div>

              <div class="mb-3">
                <label for="fin" class="form-label">Fin</label>
                <input [(ngModel)]="experiencia.fin" type="text" class="form-control" id="fin" name="fin" placeholder="">
              </div>

              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input [(ngModel)]="experiencia.descripcion" class="form-control" id="descripcion" rows="3" name="descripcion">
              </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
        </div>
    </form>
      </div>
    </div>
  </div>
