
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- Mi foto-->
        <img src="../../../assets/Jesi.jpeg"  class="img-fluid" alt="...">
  
      </div>
      
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><h3 id="nombre">{{nombre}} {{apellido}}</h3><h4>Full Stack Developer Jr</h4></div>
   <!-- Presentación -->     
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span><h3>SOBRE MI</h3><h5>Soy Jesica Rosin, tengo 31 años y estudio Desarrollo Web Full Stack en Argentina Programa. Me encanta la programación y me interesa aprender nuevas tecnologías y habilidades. Tengo conocimientos en HTML, CSS, JavaScript y Angular. Uso Git y Github para compartir mi trabajo con otros desarrolladores. Me gusta trabajar en equipo y aprender cosas nuevas para estar al día con la tecnología y los avances en el desarrollo web.</h5></span>
    </div>
    </div>
  
    
   
