<div class="row">
    <h3>Hard & Soft Skills</h3>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 90 " 
        [radius]= " 80 "
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'red' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 90 " 
        [radius]= " 80 "
        [showUnits]="false"
        [title]="'CSS'"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'blue' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 80 " 
        [radius]= " 80 "
        [showUnits]="false"
        [title]="'JavaScript'"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'orange' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 70 " 
        [radius]= " 80 "
        [title]="'Github'"
        [showUnits]="false"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'black' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 70 " 
        [radius]= " 80 "
        [showUnits]="false"
        [title]="'Ingles'"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'orange' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [percent]= " 100 " 
        [radius]= " 80 "
        [showUnits]="false"
        [title]="'Trabajo en Equipo'"
        [outerStrokeWidth]= " 11 " 
        [innerStrokeWidth]= " 3 " 
        [outerStrokeColor]= " 'orange' " 
        [innerStrokeColor]= " 'grey' " 
        [animation]= " true " 
        [animationDuration]= " 600 ">
    </circle-progress>
</div>
</div>

