<!-- Modal EDITAR -->
<div class="modal fade" id="HabilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Habilidades</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input [(ngModel)]="habilidades.nombre" type="text" class="form-control" id="nombre" name="nombre">
              </div>

              <div class="mb-3">
                <label for="porcentaje" class="form-label">Porcentaje</label>
                <input [(ngModel)]="habilidades.porcentaje" type="number" class="form-control" id="porcentaje" name="porcentaje">
              </div>

              <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input [(ngModel)]="habilidades.color" type="text" class="form-control" id="color" name="color">
              </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
        </div>
    </form>
      </div>
    </div>
  </div>
