<div class="card">
<div class="row">
    <h3>Experiencia</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima omnis doloremque quaerat recusandae, exercitationem facilis dolorum iure adipisci laboriosam fugit numquam atque est quae dolor nam nulla velit dignissimos modi!</p>
            </li>
            <li>
                <h3>Trabajo 2</h3> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima omnis doloremque quaerat recusandae, exercitationem facilis dolorum iure adipisci laboriosam fugit numquam atque est quae dolor nam nulla velit dignissimos modi!</p>
            </li>
            <li>
                <h3>Trabajo 3</h3> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima omnis doloremque quaerat recusandae, exercitationem facilis dolorum iure adipisci laboriosam fugit numquam atque est quae dolor nam nulla velit dignissimos modi!</p>
            </li>
        </ul>

    </div>

</div>
</div>