<div class="row">
<div class="container"> 
<div class="logo">
    <img src="../assets/arg-programa.png" alt="Logo">
  
    <!-- Redes sociales -->
   </div>
   <div class="redes">
    <ul class="iconos">
      <li><a href="#"> <img src= "../../../assets/Facebook.png"  alt="Facebook" width="40" height="40"></a></li>
      <li><a href="#"> <img src="../../../assets/Instagram.png" alt="Instagram" width="40" height="40"></a></li>
      <li><a href="#"> <img src="../../../assets/Github.png" alt="Github" width="40" height="40"></a></li>
      <!-- boton que abre el login -->
      <li><img src="../../../assets/login icono.png" alt="Login" width="40" height="40" data-bs-toggle="modal" data-bs-target="#loginModal">
      </li>
    </ul>
    
   </div>
  </div>
</div>
   
   <app-login></app-login>

    <div>
   <div class="box_crud" >
    <!-- Boton que abre modal de CREAR -->
<button type="button" *ngIf="isLogged" class="btn" class="add-btn" (click)="agregar()" data-bs-toggle="modal" data-bs-target="#CrearRedesModal"><i class="bi bi-plus-square"></i>
</button>

<!-- Boton para eliminar -->
<button type="button" *ngIf="isLogged" class="btn" class="delete-btn" (click)="delete(red.id)" data-bs-toggle="modal"><i class="bi bi-trash3"></i>
</button>
</div>
</div>

  <app-agregarred
  *ngIf="verBtnAgregar"
(onAgregarRed)="agregarRed($event)"
(cerrarBtnAgregar)="verBtnAgregar = false"></app-agregarred>


