<div class="row">
<div class="container"> 
<div class="logo">
    <img src="../assets/arg-programa.png" alt="Logo">
    <h2 class="Nombre-logo"> #YoProgramo </h2>
    
   </div>
   <div class="redes">
    <ul class="iconos">
      <li><a href="#"> <img src="../../../assets/Facebook.png" alt="Facebook" width="40" height="40"></a></li>
      <li><a href="#"> <img src="../../../assets/Instagram.png" alt="Instagram" width="40" height="40"></a></li>
      <li><a href="#"> <img src="../../../assets/Github.png" alt="Github" width="40" height="40"></a></li>
      <li><button type="button" class="btn btn-outline-light">LOGIN</button></li>
    </ul>
    
   </div>
  </div>
</div>
