<!-- Modal CREAR-->
<div class="modal fade" id="CrearProyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="form.valid && onEnviar()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="" formControlName = "nombre" required>
              </div>
  
              <div class="mb-3">
                <label for="inicio" class="form-label">Inicio</label>
                <input type="text" class="form-control" id="inicio" placeholder="" formControlName = "inicio" required>
              </div>
  
              <div class="mb-3">
                <label for="fin" class="form-label">Fin</label>
                <input type="text" class="form-control" id="fin" placeholder="" formControlName = "fin" required>
              </div>
  
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input class="form-control" id="descripcion" rows="3" formControlName = "descripcion" required>
              </div>
  
              <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" id="url" placeholder="" formControlName = "url" required>
              </div>
  
              <div class="mb-3">
                <label for="tecnologias" class="form-label">Tecnologías usadas</label>
                <input type="text" class="form-control" id="tecnologias" placeholder="" formControlName = "tecnologias" required>
              </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
        </div>
    </form>
      </div>
    </div>
  </div>
