<!-- Modal -->
<div class="modal fade" id="SobreMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Sobre Mi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="foto" class="form-label">Ingrese una foto</label>
                <input [(ngModel)]="persona.foto" class="form-control" type="file" id="foto" name="foto">
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre y Apellido</label>
                <input [(ngModel)]="persona.nombre" type="text" class="form-control" id="nombre" name="nombre" placeholder="">
              </div>

              <div class="mb-3">
                <label for="sobreMi" class="form-label">Sobre Mi</label>
                <input [(ngModel)]="persona.sobre_mi" class="form-control" id="sobreMi" name="sobreMi" rows="3">
              </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
        </div>
    </form>
      </div>
    </div>
  </div>
